html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

header {
	background-color: hsla(308, 53%, 53%, 0.863);
	background-color: hsla(308, 72%, 44%, 0.863);
	color: hsl(0, 0%, 17%);
	margin-bottom: 4rem;
	padding: 2.5rem 0 2.5rem 0;
	text-align: center;
}

figure .image img {
	width: 128px;
}

.notification {
	margin-top: 20px;
}

.results {
	max-height: 500px;
	overflow-y: scroll;
}

.dropdown-item {
	align-items: center;
	display: flex;
	height: 60px;
}

.dropdown-item img {
	height: 50px;
	margin-right: 10px;
}

.columns {
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}

.is-unavailable {
	background-color: hsl(0, 0%, 91%);
	color: hsl(0, 0%, 71%);
}

.instructions {
	background-color: hsl(51, 100%, 87%);
	margin: auto;
	text-align: center;
}

/********* Footer *********/

footer {
	align-items: flex-end;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
}

.name {
	font: .8rem 'Courier New', Courier, monospace;
	margin: 0 0 3px 6px;
	opacity: .6;
	text-decoration: none;
}

.social-icon {
	margin-right: 6px;
	opacity: .25;
	width: 25px;
}

.name:hover,
.social-icon:hover {
	opacity: .85;
}

@media screen and (max-width: 767px) {

	footer {
		justify-content: center;
	}

	.social-icon,
	.name {
		display: none;
	}
}
