.instructions {
	margin: auto;
	text-align: center;
}

figure .image img {
	width: 128px;
}

.notification {
	margin-top: 20px;
}

.results {
	max-height: 500px;
	overflow-y: scroll;
}

.hero {
	margin-bottom: 20px;
}

.dropdown-item {
	align-items: center;
	display: flex;
	height: 60px;
}

.dropdown-item img {
	height: 50px;
	margin-right: 10px;
}

.is-unavailable {
	background-color: hsl(0, 0%, 91%);
	color: hsl(0, 0%, 71%);
}

header {
	/* background-color: hsl(51, 100%, 47%); */
	text-align: center;
	color: hsl(0, 0%, 17%);
}

.instructions {
	background-color: hsl(51, 100%, 87%);
}
